<h1>Index:</h1>

<% form_tag :action => "index" do %>
 <fieldset>
   <legend>Enter Search Criteria</legend>

   <div>
     <label for="Company">Company Name:</label>
     <%= text_field_tag :company, params[:company] %>
   </div>
   
   <div>
     <label for="Username">Username:</label>
     <%= text_field_tag :username, params[:username] %>
   </div>

   <div>
     <%= submit_tag "Search" %>
   </div>
 </fieldset>
 <%end%>
</div>


<% unless @bugs == nil %> 
<h1> Listing bugs:</h1>
<table>
  <%= render(:partial => "shared/bug", :collection => @bugs) %>
</table>
<%end%>

